@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */

:root {
  --Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --Dark-Blue-main-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: white;
  background-color: var(--Dark-Blue-main-background);
}
/* the grid cont that should wrap every element */
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
p {
  line-height: 1.6;
  opacity: 70%;
}
.biggrid {
  display: grid;
  row-gap: 9rem;
  background-color: var(-dar);
}
/* style applied to each div with a display of grid */

.grid {
  display: grid;
  background-color: var(--Dark-Blue-main-background);
}

.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  max-width: 500px;
  margin: 1.8rem auto 3.5rem auto;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 800px) {
  .nav-cont {
    width: 93%;
    max-width: 1100px;
  }
}
.nav li {
  list-style: none;
  display: inline-block;
  font-size: 0.82rem;
  opacity: 80%;
}
.nav li {
  padding-left: 1.8rem;
}
.nav li a {
  text-decoration: none;
  color: white;
  opacity: 70%;
  transition: all 0.8s ease-out;
}
.nav li a:hover {
  text-decoration: underline;
  opacity: 100%;
  font-size: 0.95rem;
  font-weight: 700;
}
.fa-layer-group {
  font-size: 2.3rem;
  margin-right: 0.4rem;
}
.fyloicon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fyloicon > img {
  height: 25px;
}
@media screen and (min-width: 800px) {
  .fyloicon > img {
    height: 45px;
  }
}
.bg {
  background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
  background-image: url(bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: left -65rem top 14.5rem;
  background-size: cover;
  /* border: 2px solid white; */
}
@media screen and (min-width: 800px) {
  .bg {
    background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
    background-image: url(bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: left -30rem top 20.5rem;
    background-size: cover;
    /* border: 2px solid white; */
  }
}
.hero__cont {
  width: 87%;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  display: grid;
  row-gap: 1.2rem;
  /* border: 2px solid white; */
}
@media screen and (min-width: 800px) {
  .hero img {
    object-fit: cover;
    width: 100%;
  }
}
.hero__cont p {
  opacity: 70%;
}
.hero img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 1.4rem;
}

.hero a {
  text-decoration: none;
  background: linear-gradient(
    to right,
    var(--Cyan-inside-call-to-action-gradient),
    var(--Blue-inside-call-to-action-gradient)
  );
  color: white;
  padding: 0.99em 5.5em;
  border-radius: 30px;
  justify-self: center;
  font-size: 1rem;
  margin-top: 19px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  transition: 0.5s ease-in;
}
.hero a:hover {
  background: var(--Cyan-inside-call-to-action-gradient);
}

/* start of second section */
.bg2 {
  background-color: var(--Dark-Blue-main-background);
  row-gap: 6rem;
}
@media screen and (min-width: 800px) {
  .bg2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
.icon h1 {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
}
.icon img {
  height: 3.8rem;
  width: 5.4rem;
  object-fit: contain;
  margin-bottom: 2em;
}

/* start of 3rd section */
.bg3 {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .bg3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    width: 95%;
    max-width: 1100px;
    justify-items: center;
    align-items: center;
  }
}
.bg3 h1 {
  font-size: 0.8rem;
}
.stayproductive a span {
  display: inline-block;
  text-decoration: none;
  color: var(--Cyan-inside-call-to-action-gradient);
  border-bottom: 2px solid var(--Cyan-inside-call-to-action-gradient);
  padding-bottom: 5px;
  font-size: 0.8rem;
}
.stayproductive a span:hover {
  color: white;
  border-bottom: 2px solid white;
}
.stayproductive a span::after {
  content: url(icon-arrow.svg);
  padding-left: 8px;
  vertical-align: middle;
  display: inline-block;
}
.stayproductive a span::after:hover {
  color: white;
  background-color: white;
}
.stayproductive {
  display: grid;
  row-gap: 1rem;
}

.bg3 img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 4rem;
}
/* comments
 start */
.comcon {
  display: grid;
  row-gap: 2rem;
  place-items: center;
  margin-bottom: -10rem;
  margin-top: 1.8rem;
}
@media screen and (min-width: 800px) {
  .comcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }
}
.comments {
  width: 75%;
  max-width: 500px;
  background-color: var(--Dark-Blue-testimonials-background);
  border-radius: 4px;
  padding: 2rem 0;
  box-shadow: 0px 0px 3px rgba(65, 79, 161, 0.1);
}

@media screen and (min-width: 800px) {
  .comments + .comments {
    margin-left: 30px;
  }
}
.comments p {
  font-size: 0.75rem;
  opacity: 70%;
}
.comments h3 {
  font-weight: 700;
  font-size: 0.85rem;
}
.comments span {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 70%;
}
.comments:nth-of-type(1) {
  padding-top: 0;
}
.comments:nth-of-type(1)::before {
  background-image: url(bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 23px 20px;
  display: inline-block;
  width: 23px;
  height: 20px;
  content: "";
  position: relative;
  bottom: 1.26rem;
  left: 0.6rem;
}
@media screen and (min-width: 800px) {
  .comments:nth-of-type(1)::before {
    background-image: url(bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
    content: "";
    position: relative;
    bottom: 1.5rem;
    left: -0.3rem;
    z-index: -3;
  }
}
.com__s {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* combining comments
 and profiles */
.profile {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.profile img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 20px;
}
h3 span {
  display: block;
  font-size: 0.1rem;
}
/* form section start */
.form-section {
  width: 87%;
  max-width: 1000px;
  background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
  padding: 3rem;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  z-index: 3;
  position: relative;
  bottom: -10.5rem;
}

.form-section p {
  margin: 2rem 0;
  opacity: 85%;
}
.form-section a {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    var(--Cyan-inside-call-to-action-gradient),
    var(--Blue-inside-call-to-action-gradient)
  );
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  .form-section a {
    display: inline-block;
    margin-bottom: 2rem;
  }
}
input[type="email"] {
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
}
::placeholder {
  color: grey;
  opacity: 1;
  font-size: 0.7rem;
}
@media screen and (min-width: 800px) {
  input[type="email"] {
    width: auto;
  }
}

@media screen and (min-width: 800px) {
  .form-anchor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
  }
}

.before-footer {
  background-color: var(--Dark-Blue-footer-background);
}
@media screen and (min-width: 800px) {
  .before-footer {
    background-color: var(--Dark-Blue-footer-background);
  }
}
.before-footer > img {
  position: relative;
  top: 15rem;
  left: 2rem;
}
@media screen and (min-width: 800px) {
  .before-footer > img {
    position: relative;
    top: 15rem;
    left: 7.5rem;
  }
}
/* .block {
  display: block;
} */
.first {
  padding: 23rem 0 2rem 0;
  margin: 0 auto;
  width: 85%;
  max-width: 500px;
}
/* .first::before {
  content: url(logo.svg);
  display: inline-block;
} */
@media screen and (min-width: 800px) {
  .first {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    max-width: 1100px;
    justify-content: center;
    align-items: start;
    padding: 0rem 0 2rem 0;
    margin: 20rem auto 0 auto;
    grid-column-gap: 1rem;
  }
}
/* @media screen and (min-width: 800px) {
  .first p {
    display: inline-block;
    width: 200px;
  }
} */
/* @media screen and (min-width: 800px) {
  .first div + .first div {
    padding-left: 1rem;
  }
} */
/* .c-o-n-t img {
  display: block;
} */
/* .c-o-n-t p {
  padding-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .c-o-n-t p {
    padding-bottom: 0rem;
  }
} */
@media screen and (min-width: 800px) {
  .c-o-n-t {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 800px) {
  .bottom-list {
    display: flex;
  }
}
.lin ul {
  margin-top: 11rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 800px) {
  .lin ul {
    margin: 0;
    padding: 0;
  }
}
.lin ul li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  opacity: 70%;
}
@media screen and (min-width: 800px) {
  .lin ul li {
    padding-bottom: 0px;
  }
}
.lin ul li + .lin ul li {
  padding-left: 0;
}

.space-between {
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .number p {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .space-between {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 800px) {
  .third {
    padding-right: 5rem;
  }
}
/* beginning of icons styling */
.icons-cont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .icons-cont {
    justify-self: end;
  }
}
.fab {
  font-size: 1.5rem;
}
.fab + .fab {
  padding-left: 15px;
}
.footer {
  position: relative;
  top: 2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
